.center {
    display: inline-block;
    position: relative;
    margin: auto;
    left:0;
    right:0;
}

div {
    clear:both;
    margin-top: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    vertical-align:top;
}

.settings {
    top: 0;
    bottom:0;
}

.topBar {
    background: #353535;
    left:0;
    right:0;
    top:0;
    display: block;
    border:0;
    position:relative;
}

form {
    display: inline;
}

body {
    margin: 0;
    background-color: gray;
}

